/.idea/
/__pycache__
__pycache__/

/src/aws_pc/create_roles/policy.txt
/src/aws_pc/create_roles/role_trust_policy.txt
/src/aws_pc/billing/cost.csv
/src/aws_pc.egg-info/
/dist/
/src/aws_pc/update_contact_details/details.yaml
/src/aws_pc/update_contact_details/contact_details_report.txt
